body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anchor {
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI';
}

.anchor p::first-letter {
  font-size: 18px;
}

.anchor>img {
  height: 350px;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width:768px) {
  .anchor>img {
    height: 180px;
  }
}